<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/faviconadtch.ico">
    <!-- <script src="/public/js/app.js"></script>-->
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <div id="header">{{>header}}</div>
    <div id="main-content">
        <h2>{{name}}</h2>
        <div class="container">
            <div class="controller">
                <button id="reload"> 💀REFRESH THE PAGE 💀</button>
                <form action="/results" method="POST" id="collectorform" type="submit" enctype="multipart/form-data"
                    onsubmit="" autocomplete="off">
                    <div class="data-list-input" style="width:190px;">
                        <select id="screanchoise" class="data-list-input" style="width:190px;" name="screensizes"
                            onfocus="this.value=''">
                            <option id="Desktop" value="2560x1440">Desktop - 2560x1440</option>
                            <option id="SmallDesktop" value="2186x1120">SmallDesktop - 2186x1120</option>
                            <option id="SmallerDesktop" value="1320x852">SmallerDesktop - 1320x852</option>
                            <option id="ipad" value="768x1024">iPad - 768x1024</option>
                            <option id="iphone" value="375x812">iPhone - 375x812</option>
                        </select>

                    </div>
                    <input type="text" name="userSearchInput" id="urlcollector">
                    <button class="btn btn-outline-secondary" id="searchBTN"> 🤩Push The Magic Button🤩</button>
                </form>
            </div>

            <div class="time">
                {{!--   <p id="messagone"></p>
                            <p id="messagtwo"></p> --}}
                <div class="headline">SDK IS SET: </div>

                <div id="atf_sdkset" class="result">
                    <p id="jsonmessage9" class="showresult"></p>
                </div>
                <div class="headline">MESSAGE:</div>
                <div id="Message" class="result">
                    <p id="jsonmessage6" class="showresult"></p>
                </div>
                <div class="headline">CONTROLLED AT:</div>
                <div id="time" class="result">
                    <p id="jsonmessage5" class="showresult"></p>
                </div>
                <div class="headline">Checked URL:</div>
                <div id="slots" class="result">
                    <p id="jsonmessage7" class="showresult"></p>
                </div>
                <div class="headline">RANDOM NUMBER: </div>
                <div id="random" class="result">
                    <p id="jsonmessage8" class="showresult"></p>
                </div>
            </div>

            <div class="type" >
                <div class="headline">ATF-CONTENTTYPE:</div>
                <div id="Contenttype" class="result">
                    <p id="jsonmessage1" class="showresult"></p>
                </div>
                <div class="headline">ATF-CHANNEL:</div>
                <div id="channel" class="result">
                    <p id="jsonmessage3" class="showresult"></p>
                </div>
                <div class="headline">XXX </div>
                <div id="" class="result">
                    <p id="jsonmessage2" class="showresult"></p>
                </div>
            </div>

            <div class="adslots"  >
                <div class="headline">ADSLOTS ON SITE/SYNTAX: </div>
                <div id="adslots" class="result" style="  padding-bottom: 23px;">

                </div>
                <div class="headline">ADUNIT STRUCTURE:</div>
                <div id="adunitstruc" class="result" style="padding-bottom: 23px;">
                    {{!--   <p id="jsonmessage7" class="showresult" ></p> --}}
                </div>
            </div>

            <!--
            {{#each result }}
                <ul id="thesigner">
                
                    <li>Request_Nr: {{id}} Done at : {{ created_at}} find Slots : {{ json slots}} and Channel: {{ json  atf_channel}} and  Content Typ {{ json contenttyp}} and the folowing adunit structure{{ json adunitstructure}} </li>
                    </div>
                    </ul>>
            {{/each}}-->


        </div>
    </div>

    <div id="footer">{{>footer}}</div>
    <script src="/js/app.js"></script>
</body>

</html>